<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <img src="~/assets/images/logo/6.png" alt="Header Logo">

                            </a>
                        </div>
                            <div class="widget-contact-info pb-6">
                                <ul>
                                    <li>
                                        <i class="pe-7s-map-marker"></i>
                                        Cao đẳng FPT Polytechnic Hà Nội, Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
                                    </li>
                                    <li>
                                        <i class="pe-7s-mail"></i>
                                        <a href="/">duytrancoi@gmail.com</a>
                                    </li>
                                    <li>
                                        <i class="pe-7s-call"></i>
                                        <a href="mailto://info@example.com">0345.00.22.81</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                             <img src="~/assets/images/payment/5EK1lFm.png" style="width:200px" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Information</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Shipping</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Returns</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Order Status</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Gift Card Balance</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Accessibility</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">My Account</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">My Account</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Checkout</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Validation</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Terms of Use</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Newsletters</h3>
                        <p class="short-desc">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor.</p>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">Copyright © 2023 Japan Figure. Powered by  <i class="fa fa-heart text-danger"></i>   <a href="https://hasthemes.com/" target="_blank">Poly-Figure</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
